body {
	font-family: Arial;
	max-width: 1170px;
	margin: auto;
	position: relative;
}

/*SECTION 1*/
header {
	background-color: white;
    height: 50px;
}
.logo {
    float: left;
    padding-left: 35px;
    padding-top: 5px;
}
a.sct1{
	color:#5bc0de; 
}
.navigate {
	padding-left: 350px;
}
/*SECTION 2*/
.banner-cnt {
	background-image: url(img/man2.png);
	height: 400px;
}
.banner-text-main {
	padding-left: 200px;
	padding-top: 100px;
	color: white;
	font-size: 45px;
}
.banner-text-middle {
	color: white;
	font-size: 18px;
    text-align: center;
    width: 800px;
    padding-top: 10px;
}

.button {
	padding-top: 10px;
	padding-left: 250px;
}
/*SECTION 3*/
.credibility {
	height: 70px;
	background-color: white;
}
.credibility-media {
	padding-top: 10px;
	padding-bottom: 10px;
}
/*SECTION 4*/
.subscribe {
	background-color: #215E73;
	height: 220px;
	padding: 70px 0 50px 150px;

	color: white;
}
.tile-subscribe {
	padding-left: 20px;
	font-weight: normal;
	font-size: 14px;
}
.subscribe-text{
	padding-right: 10px;
	font-size: 14px;
}

/*SECTION 5*/
#section5 {
	padding-bottom: 40px;
}
#featuring_new_media{
	background: #fff;
	height: 200px;
	max-width: 900px;
	margin: 45px;
	display: flex;
	justify-content: space-around;
}
.sect5_row1{
	margin-left: 15%;
}
.sect5_row1col {
	display: flex;
	flex-flow:column;
	margin: 10px;
}
p.sct5 {
	font-size: 13px;
}
h4.sct5{
	color: #5bc0de;
}


/*SECTION 6*/
#watch_listen{
	background-color: black;
	height: 600px;
	flex-wrap: wrap;
}
.sct6_main {
	margin-left: 20px;
	display: flex;
	justify-content: space-around;
}
img.sct6{
	margin: 5px;
	margin-bottom: 10px;
}
.sct6_col {
	display: flex;
	flex-flow: column;
	margin: 10px;	
}
div.sct6{
	margin: 20px;
}
a.sct6, h3.sct6{
	color: #5bc0de;
}
div.buttonSct6{
	display: flex;
	justify-content: center;
}
span.sct6w, p.sct6{
	color: #fff;
}
/*Section 7*/
#popular_episodes{

}
div.sct7head{
	display: flex;
	align-items: flex-start;
	margin-top: 20px;
	margin-left: 45px;
}
img.sct7img{
	height: 150px;
	display: flex;
	flex-flow: column;
	margin-top: 60px;
	margin-bottom: 35px;
	padding: 15px;

/*	padding-bottom: 45px;*/
}
div.sct7textCol{
	display: flex;
	flex-flow: column;
	margin: 20px;
	padding: 20px;
}
div.sct7text{
	margin: 15px;
	padding: 15px;
}
div.contentSct7{
	max-width: 800px;
 	display: flex;
	justify-content: space-between;
}

/*Section 8*/
div.twoInRow{
	display: flex;
	justify-content: space-between;
	max-height: 1000px;
}







/*SECTION 9*/
.section-9{
	background: #cbcaa2;
	height: 200px;
	width: auto;
	justify-content: space-around;
	align-items: center;
}
.header-section{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 30px;
	font-weight: bold;
	font-size: 18px;
}
.header-section span:nth-of-type(2n){
	color: #5bc0de;
}
.img-icon-section{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.img-for-icon{
	width: 100px;
	height: 100px;
	background-image: url(img/bttn.png);
	color: orange;
	border-radius: 50%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	font-size: 25px;
}
/*SECTION 10*/
.section-10{
	background: black;
	height: 350px;
	justify-content: space-around;
	align-items: center;
}
.S10-text{
	padding: 20px 10px 10px 45px;;
	color: #828156;
	position: absolute;
	font-size: 14px;
}
.S10_column-1{
	position: relative;
	justify-content: space-around;
	align-items: center;
	left: 50px;
	width: 50%;
	padding: 20px 10px 10px 45px;
	color: #cbcaa2;
	line-height: 30px;
	float: left;
}
.S10_column-2{
	position: absolute;
	width: 30%;
	padding: 0px 5px 10px 5px;
	margin: 25px 20px 20px;
	margin-left: 55%;
	clear: both;
}
.hdr-S10{
	font-size: 18px;
}
.header-section.hdr-S10.hdr-S10-2{
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	padding: 20px 10px 30px 10px;
	letter-spacing: 1px;
}
.hdr-S10:first-of-type{
	text-align: left;
	color: white;
	padding: inherit;
}

button.btn{
	background: black;
	color: white;
	padding: 10px 40px;
  border: 1px solid white;
  position: relative;
  cursor: pointer;
	font: 16px;
	margin: 20px 90px 10px 35px;
	font-size: 15px;
	letter-spacing: 1px;
}
/*SECTION 11*/
.section-11{
	width: auto;
	text-align: center;
	background: black;
	color: #cbcaa2;
	font-size: 13px;
	padding: 10px;
}