.contaner {
	font-family: Arial;
	width: 1170px;
	margin: auto;    
}

/*SECTION 1*/

header {
	background-color: white;
    height: 50px;
}
.logo {
    float: left;
    padding-left: 20px;
}
.navigate {
	padding-left: 600px;
}

/*SECTION 2*/
.banner-cnt {
	background-image: url(img/man2.png);
	height: 400px;
}
.banner-text-main {
	padding-left: 200px;
	padding-top: 100px;
	color: white;
	font-size: 45px;
}
.banner-text-middle {
	color: white;
	font-size: 18px;
    text-align: center;
    width: 800px;
    padding-top: 10px;
}

.button {
	padding-top: 10px;
	padding-left: 250px;
}
/*SECTION 3*/
.credibility {
	height: 70px;
	background-color: white;
}
.credibility-media {
	padding-top: 10px;
	padding-bottom: 10px;
}
/*SECTION 4*/
.subscribe {
	background-color: #215E73;
	height: 220px;
	padding: 70px 0 50px 150px; 

	color: white;
}
.tile-subscribe {
	padding-left: 20px;
	font-weight: normal;
	font-size: 14px;
}
.subscribe-text{
	padding-right: 10px;
	font-size: 14px;
}
